body {
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 40px;
}

h2, h3 {
    color: #2c3e50;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 15px;
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}
